:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #262626;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #e4e4e4;
  --second-brand-color: #fe7d42;
  --third-brand-color: #fb4547;
  --fourth-brand-color: #f6f6f6;
  --fifth-brand-color: #fedcdc;

  --main-font: 'Poppins';
  --title-font: 'Poppins Bold';

  font-size: 62.5%;
}
